main {
    background-color: #831010;
    border: 1px solid #831010;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}


/* search section in main */
main>#search-input {
    display: block;
    width: 50%;

    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 20px;

    border-radius: 8px;
}

main>#btn-search {
    width: 15%;

    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 15px 20px;
    background-color: black;
    color: #db0000;

    font-weight: bold;

    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

main>#btn-clear {
    width: 15%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    background-color: white;
    color: black;
    font-weight: bold;
    padding: 15px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/* search result section in main */
#main-movie {
    width: 80%;
    margin: 0 auto;
}

.row {
    background-color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    gap: 200px;
    margin-bottom: 20px;
    height: 450px;
}


/* left-col */
.row>img {
    width: 300px;
    height: 450px;
}


/* right-col */
.right-col {
    display: flex;
    flex-direction: column;
}

.right-col>#movie-title {

    font-weight: bold;

    margin-top: 50px;
    margin-bottom: 0px;
}


/* genre */
.right-col>p[class="genre"] {
    margin-bottom: 50px;
    display: flex;
    gap: 12px;
}

.right-col>p[class="genre"]>span {
    border: 1px solid #564d4d;
    border-radius: 30px;
    padding: 10px;

    color: #831010;

    font-weight: bold;
}


/* cast */
.right-col>div[class="cast-date"] {
    display: flex;
    gap: 20px;
    height: 40px;
}

.cast-date>.title {
    font-weight: 550;
}

.cast-date>.content {
    font-weight: 500;
    color: #db0000;
}


/* buy-ticket-link */
.buy-ticket-link {
    background-color: #db0000;
    color: white;

    text-decoration: none;
    text-align: center;
    font-weight: bold;

    border-radius: 8px;

    padding: 15px;
    margin-top: 40px;
    width: 150px;
}