/* style header */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #cccccc;
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  z-index: 1;
}

#logo {
  font-size: 40px;
  padding-left: 50px;
  padding-top: 10px;
  text-decoration: none;
  color: black;
}

#navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-right: 50px;
  gap: 30px;
  list-style-type: none;
}

#navbar a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

#navbar a:hover {
  color: #db0000;
}

/* For making navbar sticky */
/* The sticky class is added to the navbar with JS when it reaches its scroll position */
/* It makes the navbar sticky */
.sticky {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #cccccc;
}


/* style main section */

main {
  background-color: black;
}

h1 {
  text-align: left;
  font-size: 50px;
  color: white;
}

#container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10%;
  background-color: black;
  padding: 20px 20px 25px 20px;
  color: white;
}

form {
  width: 40vw;
  display: flex;
  flex-direction: column;
  padding: 20px 0 50px 0;
  border-radius: 5px;
}

label {
  color: white;
  margin-bottom: 10px;
  font-size: 20px;
}

select {
  width: 94.5%;
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 20px;
  color: gray;
}

input[type="number"],
input[type="text"] {
  width: 90%;
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 20px;
  color: gray;
}

button {
  width: 50%;
  padding: 15px;
  margin-top: 2%;
  background-color: #db0000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

button:hover {
  background-color: #831010;
}

#order-summary {
  width: 15vw;
  height: 24vh;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #564d4d;
}

#order-summary h2 {
  font-size: 30px;
  margin-bottom: 15px;
  text-align: center;
}

#order-summary p {
  font-size: 20px;
  margin: 5px 0;
  text-align: center;
}

#purchase-history {
  margin-left: 3%;
  width: 30vw;
  overflow: auto;
  max-height: 300px;
  border: 1px solid #564d4d;
}

#purchase-history h2 {
  font-size: 30px;
  margin-bottom: 15px;
  text-align: center;
}

#purchase-history p {
  font-size: 20px;
  margin: 5px 0;
}

/* style footer section */
footer {
  background-color: #831010;
  color: #fff;
  padding: 60px 0;
  text-align: center;
  font-size: 25px;
}

.social-media-icons {
  text-align: center;
}

.social-media-icons>a {
  text-decoration: none;
  padding: 20px 10px;
}