body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

#navigation {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
    margin-right: 20px;
    list-style: none;
}

#navigation a {
    text-decoration: none;
    color: #fff;
    background-color: #333;
}

#navigation a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

#purchase-form-section {
    width: 50%;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
}

select,
input[type="number"],
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

#order-summary {
    border: 1px solid #ccc;
    padding: 10px;
}

.social-media-icons {
    text-align: center;
}

.social-media-icons a {
    text-decoration: none;
    margin: 0 10px;
}